<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379256031514-0mk9hc682s0t8jn9uabo663fjq3f7s64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379256031514-0mk9hc682s0t8jn9uabo663fjq3f7s64</string>
	<key>API_KEY</key>
	<string>AIzaSyDMugE15jebIyNGqOMNnvZRjCBC0KC4tIE</string>
	<key>GCM_SENDER_ID</key>
	<string>379256031514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ch.jesseb0rn.schnupfbible</string>
	<key>PROJECT_ID</key>
	<string>schnupfbible</string>
	<key>STORAGE_BUCKET</key>
	<string>schnupfbible.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379256031514:ios:34b81dd7817dd5398984a3</string>
</dict>
</plist>